[submodule "BIDS-SQL"]
	path = BIDS-SQL
	url = https://github.com/paul88/BIDS-SQL.git
[submodule "crawlers/openneuro-crawler"]
	path = crawlers/openneuro-crawler
	url = https://github.com/paul188/openneuro-crawler.git
